@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}
body {
	display: block;
	font-size: 1.15rem;
	line-height: 2.25rem;
	font-weight: 400;
	background: url('../img/kse-page-background.png');
	background-size: cover;
	background-repeat: no-repeat;
}
.body-blur {
	filter: blur(50%);
}
a {
	color: #111111 !important;
}

h1.title {
	margin-bottom: 0px;
	padding-bottom: 0px;
}
p {
	text-align: left;
	letter-spacing: .25px;
	line-height: 2.5rem;
}

header nav a.navbar-brand img {
	width: 50%;
}

header nav ul > li.nav-item a.active {
	color: #d92891 !important;
}

#intro-wrapper,
#portfolio-wrapper,
#about-wrapper {
	align-items: center;
	padding: 100px;
}
#intro-wrapper article.intro {
	margin: 0 auto;
	width: 60%;
}
#intro-wrapper article.intro p {
	font-size: 1.75rem;
	line-height: 2.95rem;
}
#intro-wrapper article.intro .intro-btn-wrapper {
	margin: 0 auto;
	width: 40%;
}
#intro-wrapper article.intro .intro-btn-wrapper button#intro-btn {
	margin-left: 18%;
}
#intro-wrapper article.intro .intro-btn-wrapper button#intro-btn a {
	color: #fff !important;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: .45px;
}
#intro-wrapper article.intro .intro-btn-wrapper button#intro-btn a:hover {
	text-decoration: none !important;
}
#intro-wrapper article.intro .intro-btn-wrapper button.btn-outline-primary {
	color: #fff !important;
	border-color: #fff !important;
}

#portfolio-wrapper article.portfolio,
#about-wrapper article.about {
	margin: 0 auto;
	width: 100%;
}
#portfolio-wrapper article.portfolio p,
#about-wrapper article.about p {
	font-size: 1.75rem;
	line-height: 2.95rem;
	padding-left: 11%;
	padding-right: 11%;
}
#portfolio-wrapper article.portfolio ol.portfolio-items-wrapper > li {
	list-style: none;
}
#portfolio-wrapper article.portfolio ol.portfolio-items-wrapper > li.portfolio-item {
	list-style: none;
	float: left;
	margin: 15px 0;
}
#portfolio-wrapper article.portfolio ol.portfolio-items-wrapper li.portfolio-item img.img-responsive,
#about-wrapper article.about .about-content {
	width: 100%;
}

#about-wrapper article.about .about-content p {
	font-size: 1.75rem;
	line-height: 2.95rem;
	padding-left: 11%;
	padding-right: 11%;
}

.p20 {
	padding: 20px;
}
.p30 {
	padding: 30px;
}
.p60 {
	padding: 60px;
}

.pt20 {
	padding-top: 20px;
}
.pt30 {
	padding-top: 30px;
}
.pt60 {
	padding-top: 60px;
}

.pb20 {
	padding-bottom: 20px;
}
.pb30 {
	padding-bottom: 30px;
}
.pb60 {
	padding-bottom: 60px;
}

footer {
	display: block;
}
footer ul {
}
footer ul li {
	font-size: .85rem;
	letter-spacing: .1rem;
	color: #fff;
	text-align: center;
}
